@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'BebasNeue';
   font-display: swap;
   src:
      url('/font/BebasNeue-Regular.woff2') format('woff2'),
      url('/font/BebasNeue-Regular.woff') format('woff');
}

@font-face {
   font-family: 'Audiowide';
   font-display: swap;
   src:
      url('/font/Audiowide-Regular.woff2') format('woff2'),
      url('/font/Audiowide-Regular.woff') format('woff');
}

@font-face {
   font-family: 'Verdana';
   font-display: swap;
   src: url('/font/Verdana.woff') format('woff');
}

@font-face {
   font-family: 'Yekan';
   font-display: swap;
   src:
      url('/font/YekanRegular.woff2') format('woff2'),
      url('/font/YekanRegular.woff') format('woff');
}

@font-face {
   font-family: 'YekanBold';
   font-display: swap;
   src:
      url('/font/YekanBold.woff2') format('woff2'),
      url('/font/YekanBold.woff') format('woff');
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   min-height: 100vh;
   scroll-behavior: smooth;
}

body {
   color: #d7e6ef;
   background: #0c0f16;
   user-select: none;
   font-family: 'Verdana', sans-serif;
   width: 100vw;
   overflow-x: hidden;
}

a {
   text-decoration: none;
   font-size: 1rem;
   font-family: verdana, sans-serif;
}

h1 {
   font-size: 2rem;
   font-family: Audiowide, sans-serif;
}

h2 {
   font-size: 1.325rem;
   font-family: Verdana, sans-serif;
}

h3 {
   font-size: 1.325rem;
   font-weight: bold;
   font-family: verdana, sans-serif;
}

h4 {
   font-size: 1.325rem;
   font-family: verdana, sans-serif;
}

h5 {
   font-size: 1.325rem;
   font-family: verdana, sans-serif;
}

button {
   font-size: 1.325rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;

   &:hover {
      cursor: pointer;
   }
}

p {
   font-size: 1rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

li {
   font-size: 1rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

label {
   font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
   font-size: 1.325rem;
}

hr {
   border: solid 1px rgb(224, 224, 224);
   margin: 1.325rem 0;
}

h6 {
   font-size: 0.8rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

strong {
   font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
   font-weight: 600;
}

.rtl {
   direction: rtl;
}

.ltr {
   direction: ltr;
}

.verdana {
   font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.yekan {
   font-family: Yekan, sans-serif;
}

.yekanBold {
   font-family: YekanBold, sans-serif;
}

.Audiowide {
   font-family: Audiowide, sans-serif;
}

.BebasNeue {
   font-family: BebasNeue, sans-serif;
}

.verdana {
   font-family: Verdana, sans-serif;
}

/* Hide scrollbar for IE, Edge and Firefox */
.styled-scrollbars {
   /* Foreground, Background */
   scrollbar-color: #7234a2 transparent;

   &::-webkit-scrollbar {
      width: 3px; /* Mostly for vertical scrollbars */
      height: 3px; /* Mostly for horizontal scrollbars */
   }

   &::-webkit-scrollbar-thumb {
      /* Foreground */
      background: #7234a2;
   }

   &::-webkit-scrollbar-track {
      /* Background */
      background: transparent;
   }
}

.toman {
   &_card {
      display: flex;

      &:before {
         content: url('/toman_card.svg');
         display: block;
         margin-right: 0.2rem;
         font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
      }
   }

   &_course {
      display: flex;

      &:before {
         content: url('/toman.svg');
         display: block;
         margin-right: 0.2rem;
         font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
      }
   }
}

.invalidInput {
   border: 2px solid red;
}

.animate-spin-slow {
   animation: spin 9s linear infinite;
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.animate-wave {
   animation: wave ease-in-out infinite alternate-reverse;
}

@keyframes wave {
   from {
      transform: translateY(5px);
   }
   to {
      transform: translateY(-5px);
   }
}

.Toastify__toast {
   border-radius: 15px !important;

   &-body {
      font-size: 1.125rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
   }
}

.react-photo-album--photo {
   border-radius: 15px;
}

.yarl {
   &__thumbnails_thumbnail {
      border: 0 !important;
      min-width: 80px !important;
      width: auto !important;
   }
   &__slide_image {
      border-radius: 5px;
   }
}

.ql-editor {
   &.ql-blank::before {
      color: #345467 !important;
      font-size: 1rem !important;
   }

   p,
   strong,
   em,
   li,
   a {
      font-family: Yekan;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: YekanBold;
   }

   code {
      padding: 0.4rem;
      background-color: rgb(24 28 60) !important;
      border-radius: 7px;
   }

   a {
      text-decoration: wavy underline rgb(115, 132, 255) !important;
      text-underline-offset: 2px;
      transition: all 0.1s ease-in-out;

      &:hover {
         color: rgb(115, 132, 255) !important;
      }
   }
}
